.c{
    width: 970px;
    display: flex;
flex-wrap: wrap;
}

.xem{
    margin: 10px;
position: relative;
    width: 250px;
    height: 250px;
    background-color: blueviolet;
    border: burlywood solid 3px;
}
.video{
position: absolute;
top: 0px;
left: 30px;
width: 200px;
    height: 150px;
    background-color: burlywood;
}
.title{
    position: absolute;
    top: 150px;
    left: 0px;
    width: 200px;
        height: 50px;
        background-color: chartreuse;
    }
.ls{
        position: absolute;
        top: 200px;
        left: 0px;
        width: 200px;
            height: 50px;
            background-color: cornflowerblue;
        }